<?xml version="1.0" encoding="utf-8"?>
<robot name="abot"
	xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="clearance" value="0.018" />
	<!-- Matherials -->
	<xacro:include filename="$(find abot_description)/urdf/abot_matherials.xacro" />
	<!-- abot_base -->
	<link name="abot_base">
	  <inertial>
			<origin xyz="-0.02452 1.4288E-14 0.021229" rpy="0 0 0" />
			<mass value="0.26675" />
			<inertia ixx="0.00032378" ixy="-1.1141E-12" ixz="-9.1302E-06" iyy="0.00030073" iyz="-3.3253E-10" izz="0.000561" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/abot_base.STL" />
			</geometry>
			<material name="White" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/abot_base.STL" />
			</geometry>
		</collision>
	</link>
    <!-- base_link -->
	<link name="base_link">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
				<sphere radius="0.001" />
			</geometry>
		</visual>
	</link>
	<joint name="base_link_to_abot_base" type="fixed">
		<origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="abot_base" />
	</joint>
	<!-- base_footprint -->
	<link name="base_footprint">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<cylinder length="0.001" radius="0.100" />
			</geometry>
			<material name="Blue" />
		</visual>
	</link>
	<joint name="base_footprint_to_base_link" type="fixed">
		<origin xyz="0 0 ${clearance}" rpy="0 0 0" />
		<parent link="base_footprint" />
		<child link="base_link" />
	</joint>
    <!-- Wheels -->
	<xacro:include filename="$(find abot_description)/urdf/abot_left_wheel.xacro" />
	<xacro:include filename="$(find abot_description)/urdf/abot_right_wheel.xacro" />
	<xacro:include filename="$(find abot_description)/urdf/abot_caster_wheel.xacro" />
</robot>