<launch>
    
    <include file="$(find abot_navigation)/launch/lidar.launch" />
    <arg name="scan_topic" default="scan" />

    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
        <rosparam file="$(find abot_navigation)/config/slam_gmapping_params.yaml" command="load" />
        <remap from="scan" to="$(arg scan_topic)"/>
    </node>
</launch>