<launch>

	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find abot_control)/config/abot_control.yaml" command="load"/>

	<!-- load the controllers -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
			args="joint_state_controller mobile_abot"></node>

	<!-- EKF -->
	<!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
		<rosparam command="load" file="$(find abot_control)/config/localization.yaml" />
	</node> -->

</launch>