<launch>

    <node name="encoders" pkg="abot_driver" type="encoders" output="screen" />
    <node name="dc_motors" pkg="abot_driver" type="dc_motors" output="screen" />

    <include file="$(find abot_base)/launch/hardware_control.launch" />  
    <include file="$(find abot_teleop)/launch/abot_teleop.launch" />
    <include file="$(find abot_navigation)/launch/gmapping.launch" />

</launch>
