<launch>

  <!--Args-->
  <arg name="rvizconfig" default="$(find abot_description)/rviz/abot_remote_navigate.rviz" />
  <arg name="model" default="$(find abot_description)/urdf/abot.xacro" />

  <!--Robot Description from URDF-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <!--Rviz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="false"/>
  
  <!--Navigation-->
  <include file="$(find abot_navigation)/launch/move_base.launch" />
</launch>
