<?xml version="1.0"?>
<robot name="abot"
	xmlns:xacro="http://www.ros.org/wiki/xacro">
	<!-- Lidar CAD link -->
	<link name="laser_link">
		<inertial>
			<origin xyz="-0.0117447996907351 0.000733413771450669 -0.0207612184785914" rpy="0 0 0" />
			<mass value="0.0792299931684322" />
			<inertia ixx="2.1072498226581E-05" ixy="-2.60332316458837E-08" ixz="4.4882481449391E-07" iyy="2.50506950192355E-05" iyz="-1.5405159314203E-08" izz="4.37516224246332E-05" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 ${PI}" />
			<geometry>
				<mesh filename="package://abot_description/meshes/laser_link.STL" />
			</geometry>
			<material name="Yellow" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 ${PI}" />
			<geometry>
				<mesh filename="package://abot_description/meshes/laser_link.STL" />
			</geometry>
		</collision>
	</link>
	<!-- Lidar joint -->
	<joint name="laser_link_to_base" type="fixed">
		<origin xyz="0.0219999999999071 0 0.178150000000001" rpy="0 0 ${PI}" />
		<parent link="abot_base" />
		<child link="laser_link" />
		<axis xyz="0 0 0" />
	</joint>
	<!-- IR sensor front CAD link -->
	<link name="ir_f">
		<inertial>
			<origin xyz="-0.0073719 -0.00051001 0.00027926" rpy="0 0 0" />
			<mass value="0.0029707" />
			<inertia ixx="3.1673E-07" ixy="6.7636E-10" ixz="-5.8928E-09" iyy="2.953E-07" iyz="-4.2271E-10" izz="7.6154E-08" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_f.STL" />
			</geometry>
			<material name="Yellow" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_f.STL" />
			</geometry>
		</collision>
	</link>
	<!-- IR sensor front joint -->
	<joint name="ir_f_to_base" type="fixed">
		<origin xyz="0.0874500000000004 0 0.031499999999999" rpy="0 0 0" />
		<parent link="abot_base" />
		<child link="ir_f" />
		<axis xyz="0 0 0" />
	</joint>
	<!-- IR sensor left CAD link -->
	<link name="ir_l">
		<inertial>
			<origin xyz="-0.0073719 -0.00051001 0.00027926" rpy="0 0 0" />
			<mass value="0.0029707" />
			<inertia ixx="3.1673E-07" ixy="6.7636E-10" ixz="-5.8928E-09" iyy="2.953E-07" iyz="-4.2271E-10" izz="7.6154E-08" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_l.STL" />
			</geometry>
			<material name="Yellow" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_l.STL" />
			</geometry>
		</collision>
	</link>
	<!-- IR sensor left joint -->
	<joint name="ir_l_to_base" type="fixed">
		<origin xyz="-0.00999999999999981 0.0974499999999997 0.0315000000000011" rpy="0 0 1.57079632679489" />
		<parent link="abot_base" />
		<child link="ir_l" />
		<axis xyz="0 0 0" />
	</joint>
	<!-- IR sensor right CAD link -->
	<link name="ir_r">
		<inertial>
			<origin xyz="-0.0073719 0.00051001 -0.00027926" rpy="0 0 0" />
			<mass value="0.0029707" />
			<inertia ixx="3.1673E-07" ixy="-6.7636E-10" ixz="5.8928E-09" iyy="2.953E-07" iyz="-4.2271E-10" izz="7.6154E-08" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_r.STL" />
			</geometry>
			<material name="Yellow" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_r.STL" />
			</geometry>
		</collision>
	</link>
	<!-- IR sensor right joint -->
	<joint name="ir_r_to_base" type="fixed">
		<origin xyz="-0.00999999999999882 -0.0974500000000003 0.0314999999999991" rpy="-3.14159265358979 0 -1.57079632679489" />
		<parent link="abot_base" />
		<child link="ir_r" />
		<axis xyz="0 0 0" />
	</joint>
	<!-- IR sensor back CAD link -->
	<link name="ir_b">
		<inertial>
			<origin xyz="-0.0073719 0.00051001 -0.00027926" rpy="0 0 0" />
			<mass value="0.0029707" />
			<inertia ixx="3.1673E-07" ixy="-6.7636E-10" ixz="5.8928E-09" iyy="2.953E-07" iyz="-4.2271E-10" izz="7.6154E-08" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_b.STL" />
			</geometry>
			<material name="Yellow" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_b.STL" />
			</geometry>
		</collision>
	</link>
	<!-- IR sensor back joint -->
	<joint name="ir_b_to_base" type="fixed">
		<origin xyz="-0.10745 0 0.0315000000000011" rpy="3.14159265358979 0 -3.14159265358979" />
		<parent link="abot_base" />
		<child link="ir_b" />
		<axis xyz="0 0 0" />
	</joint>
	<!-- IR sensor front right CAD link -->
	<link name="ir_fr">
		<inertial>
			<origin xyz="-0.0073719 0.00051001 -0.00027926" rpy="0 0 0" />
			<mass value="0.0029707" />
			<inertia ixx="3.1673E-07" ixy="-6.7636E-10" ixz="5.8928E-09" iyy="2.953E-07" iyz="-4.2271E-10" izz="7.6154E-08" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_fr.STL" />
			</geometry>
			<material name="Yellow" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_fr.STL" />
			</geometry>
		</collision>
	</link>
	<!-- IR sensor front right joint -->
	<joint name="ir_fr_to_base" type="fixed">
		<origin xyz="0.0589075558266301 -0.0689075558266286 0.0314999999999986" rpy="0 0 -0.785398163397442" />
		<parent link="abot_base" />
		<child link="ir_fr" />
		<axis xyz="0 0 0" />
	</joint>
	<!-- IR sensor back right CAD link -->
	<link name="ir_br">
		<inertial>
			<origin xyz="-0.0073719 0.00051001 -0.00027926" rpy="0 0 0" />
			<mass value="0.0029707" />
			<inertia ixx="3.1673E-07" ixy="-6.7636E-10" ixz="5.8928E-09" iyy="2.953E-07" iyz="-4.2271E-10" izz="7.6154E-08" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_br.STL" />
			</geometry>
			<material name="Yellow" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_br.STL" />
			</geometry>
		</collision>
	</link>
	<!-- IR sensor back right joint -->
	<joint name="ir_br_to_base" type="fixed">
		<origin xyz="-0.0789075558266282 -0.0689075558266298 0.0315000000000001" rpy="-3.14159265358979 0 -2.35619449019234" />
		<parent link="abot_base" />
		<child link="ir_br" />
		<axis xyz="0 0 0" />
	</joint>
	<!-- IR sensor back left CAD link -->
	<link name="ir_bl">
		<inertial>
			<origin xyz="-0.0073719 0.00051001 -0.00027926" rpy="0 0 0" />
			<mass value="0.0029707" />
			<inertia ixx="3.1673E-07" ixy="-6.7636E-10" ixz="5.8928E-09" iyy="2.953E-07" iyz="-4.2271E-10" izz="7.6154E-08" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_bl.STL" />
			</geometry>
			<material name="Yellow" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_bl.STL" />
			</geometry>
		</collision>
	</link>
	<!-- IR sensor back left joint -->
	<joint name="ir_bl_to_base" type="fixed">
		<origin xyz="-0.078908 0.068908 0.0315" rpy="-3.1416 0 2.3562" />
		<parent link="abot_base" />
		<child link="ir_bl" />
		<axis xyz="0 0 0" />
	</joint>
	<!-- IR sensor front left CAD link -->
	<link name="ir_fl">
		<inertial>
			<origin xyz="-0.0073719 0.00051001 -0.00027926" rpy="0 0 0" />
			<mass value="0.0029707" />
			<inertia ixx="3.1673E-07" ixy="-6.7636E-10" ixz="5.8928E-09" iyy="2.953E-07" iyz="-4.2271E-10" izz="7.6154E-08" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_fl.STL" />
			</geometry>
			<material name="Yellow" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/ir_fl.STL" />
			</geometry>
		</collision>
	</link>
	<!-- IR sensor front left joint -->
	<joint name="ir_fl_to_base" type="fixed">
		<origin xyz="0.0589075558266294 0.0689075558266288 0.0315000000000001" rpy="0 0 0.785398163397444" />
		<parent link="abot_base" />
		<child link="ir_fl" />
		<axis xyz="0 0 0" />
	</joint>
</robot>
